.avatar {
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 5px;
}

.avatar-container {
  margin: 1rem 0 2rem 0;  // Top Right Bottom Left
  overflow: hidden;       // Contain floated image
}
